/*************
 ** Imports **
 *************/
 @import "reset";
 @import "media-queries";

 body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-weight: 500;
}

@import "product-section";
